
.navbar {
	background-color: #F0F0F0;
	-webkit-box-shadow: 0 8px 10px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 8px 10px 0 rgba(0,0,0,0.3);
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.3);
}

h1, h2, h3, h4 {
	font-weight: normal;
}

.hover-btn {
	background-color: #F0F0F0;
	text-align: center;
	padding: 20px;
	-webkit-box-shadow: 0 8px 10px -5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 8px 10px -5px rgba(0,0,0,0.3);
	box-shadow: 0 8px 10px -5px rgba(0,0,0,0.3);
	transform: translate3d(0px, 0px, 0px);
	transition: all .1s ease-in-out;
}
.hover-btn-active:hover {
	-webkit-box-shadow: 0 16px 12px -10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 16px 12px -10px rgba(0,0,0,0.2);
	box-shadow: 0 16px 12px -10px rgba(0,0,0,0.2);
	transform: translate3d(0px, -3px, 0px);
	cursor: pointer;
	background-color: #F3F3F3;
}
